{# src/btsappli/UserBundle/Resources/views/User/modificationEcrit.html.twig #}

{# Vue qui permet à l'administrateur de modificer un CCF écrit existant #}

{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
<div class="col-lg-10 col-lg-offset-1">
    <div style="margin-top:18px;">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Modification d'un CCF écrit :</h3></div>
                <div class="panel-body">
                    <form method="post" {{ form_enctype(formulaireEcrit) }}>
                        {{ form_widget(formulaireEcrit) }}
                        <a href="{{ path('btsappli_CCF_planningEcrits') }}" role="button" class="btn btn-primary pull-left" type="button" style="width:140px">Annuler</a>
                        <input type="submit" class="btn btn-primary pull-right" style="width:140px"/>
                        <div class="row">
                            <div class="col-lg-1 col-lg-offset-3">
                                <!-- Renvoie à la vue suprimerEcritValidation pour vérifier que l'administrateur veut vraiment supprimer le CCF sélectionné -->
                                <a href="{{ path('btsappli_CCF_supprimerEcritValidation', {'id':ecrit.id}) }}" role="button" class="btn btn-danger pull-left" type="button" style="width:140px">Supprimer</a>
                            </div>
                        </div>
                    </form>
                </div>
                
        </div>
    </div>
</div>
{% endblock %}