{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
  <!-- Ligne 2 Boutons d'accès aux suivis des Stages et des Etudiants -->
  <div class="row">
    <div class="col-lg-6 ">
      <a role="button" class="btn btn-success btn-lg btn-block" style="margin-top:18px; padding: 50px 16px;" href="{{ path('btsappli_utilisateurs_suiviStages') }}">Suivi des stages</a>
    </div>
    <div class="col-lg-6">
      <a role="button" class="btn btn-warning btn-lg btn-block" style="margin-top:18px; padding: 50px 16px;" href="{{ path('btsappli_utilisateurs_suiviEtudiant') }}"> Suivi des étudiants</a>
    </div>
  </div>

  <!-- Ligne 3 Boutons d'accès aux CCF -->
  <div class="row">
    <div class="col-lg-6 ">
      <href="#" role="button" class="btn btn-info btn-lg btn-block" style="padding: 50px 16px;">Planning CCF</button>
    </div>
    <div class="col-lg-6">
      <href="#" role="button" class="btn btn-primary btn-lg btn-block" style="padding: 50px 16px;">Editer CCF</button>
    </div>
  </div>
  
  <!-- Ligne 4 Bonton d'accès à la validation des inscriptions  -->
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <a role="button" class="btn btn-danger btn-lg btn-block" style="padding: 50px 16px;" href="{{ path('btsappli_utilisateurs_validerInscriptions') }}">Valider les incriptions</a>
    </div>
  </div>
      
{% endblock %}