{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
      <!-- Ligne 2 -->
      <div class="row">
        <div class="col-sm-3"> </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:140px; padding: 50px 16px;" href="#">Stages</button>
        </div>
        <div class="col-sm-3"> </div>
      </div>
      
      <!-- Ligne  3 -->
      <div class="row">
        <div class="col-sm-3"> </div>
        <div class="col-sm-6">
          <a href="{{ path('fos_user_profile_edit') }}" role="button" class="btn btn-info btn-lg btn-block" style="padding: 50px 16px;" >Modifier le profil</a>
        </div>
        <div class="col-sm-3"> </div>
      </div>
{% endblock %}