{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
    <div class="container">
      <div class="row">
        <div class="bouton3">
          <div class="col-sm-4">
            <div class="bouton4"> <a href="#" class="round green">Suivi des stages<span class="round"> Clique ici pour renseingner ton stage </span></a></div>
          </div>
          <div class="col-sm-4">
            <div class="bouton4"> <a href="#" class="round orange">Planning CCF<span class="round"> Clique ici pour consulter ton planning des CFF </span></a></div>
          </div>
          <div class="col-sm-4">
            <div class="bouton4"> <a href="#" class="round blue">Editer les CCF<span class="round"> Clique ici pour modifier ton profil </span></a></div>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="bouton3">
          <div class="col-sm-4 col-sm-offset-2">
            <div class="bouton4"> <a href="#" class="round violet">Valider les incriptions<span class="round"> Clique ici pour renseingner ton stage </span></a></div>
          </div>
          <div class="col-sm-4 col-sm-offset-0">
            <div class="bouton4"> <a href="#" class="round red">Suivi des étudiants<span class="round"> Clique ici pour consulter ton planning des CFF </span></a></div>
          </div>
        </div>
      </div>
{% endblock %}