{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
    <div class="container">
      <!-- Ligne 2 -->
      <div class="row">
        <div class="bouton1">
          <div class="col-sm-4">
            <div class="bouton2"> <a href="#" class="round green">Stages<span class="round"> Clique ici pour renseingner ton stage </span></a></div>
          </div>
          <div class="col-sm-4">
            <div class="bouton2"> <a href="#" class="round orange">Planning CCF<span class="round"> Clique ici pour consulter ton planning des CFF </span></a></div>
          </div>
          <div class="col-sm-4">
            <div class="bouton2"> <a href="#" class="round blue">Modifier le profil<span class="round"> Clique ici pour modifier ton profil </span></a></div>
          </div>
        </div>
       </div>
    </div>
{% endblock %}