{%extends "::vueMere.html.twig" %}

{% block contenuCentral %} 
        <div class="container">
         <!-- Ligne 2 -->
          <div class="row">
            <div class="col-sm-3"> </div>
             <div class="col-sm-6">
              <div style="margin-top:100px;"> {{ block ("fos_user_content") }} </div> <!-- bloc pour connexion, enregister et modifier profil -->
             </div>
            </div>
           </div>
          </div>
{% endblock %}