{% extends "::vueMere.html.twig" %}

{% block contenuCentral %} 
        
         <!-- Ligne 2 -->
          <div class="row">
             <div class="col-lg-8  col-lg-offset-2">
              <div style="margin-top:80px;"> {{ block ("fos_user_content") }} </div> <!-- bloc pour connexion, enregister et modifier profil -->
            </div>
           </div>
          </div>
{% endblock %}

{% block footer %}
            
{% endblock %}