{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
        <div class="container">
         <!-- Ligne 2 -->
          <div class="row">
             <div class="col-lg-8 col-lg-offset-2">
              <div style="margin-top:50px;">
                <div class="panel panel-primary"> <!--Fenetre-->
                 <div class="panel-heading"><h4>Modifier le profil</h4></div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-9 col-lg-offset-1">
                        <ul style="list-style-type:none">
                              {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
                         </ul>
                          <a role="button" id="Retour" class="btn btn-primary pull-left" href="{{ path('btsappli_utilisateurs_accueilEtu') }}"> &nbsp; Retour &nbsp; </a>
                        </div>
                       </div>
                      </div>
                     </div>
                    </div> 
                   </div>
                 </div>
                </div>
 
{% endblock %}



