{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
          <div class="row">
            <div class="col-sm-2"> </div>
             <div class="col-sm-8">
              <div style="margin-top:150px;">
                  {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
              </div> 
             <div class="col-sm-2"> </div>
            </div>
           </div>
          </div>
{% endblock %}



