{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" id="_submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary pull-right"> &nbsp; Mettre à jour &nbsp; </button>
    </div>
{{ form_end(form) }}
