{# src/btsappli/StagesBundle/Resources/views/Stages/ajoutTuteur.html.twig #}

{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Ajout d'un tuteur pour l'entreprise <i>{{ tuteur.entreprise.nom }}</i></h4></div>
        <div class="panel-body">
            <form method="post" {{ form_enctype(formulaireTuteur) }}>
                {{ form_widget(formulaireTuteur) }}
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}