{# src/btsappli/StagesBundle/Resources/views/Stages/ajoutEntreprise.html.twig #}

{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
<div class="col-lg-10 col-lg-offset-1">
    <div style="margin-top:18px;">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Ajout d'une entreprise</h3></div>
                <div class="panel-body">
                    <form method="post" {{ form_enctype(formulaireEntreprise) }}>
                        {{ form_widget(formulaireEntreprise) }}
                        <input type="submit" class="btn btn-primary pull-right" />
                    </form>
                </div>
        </div>
    </div>
</div>
{% endblock %}