{# src/btsappli/StagesBundle/Resources/views/Stages/ajoutStageEnt.html.twig #}

{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
<div class="col-lg-8 col-lg-offset-2">
    <div style="margin-top:80px;">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Ajout d'un stage (étape 1/2)</h3></div>
                <div class="panel-body">
                    <form method="post" {{ form_enctype(formulaireStage) }}>
                        {{ form_widget(formulaireStage) }}
                        <input type="submit" class="btn btn-primary pull-right" />
                    </form>
                    <p>Entreprise introuvable ?</p>
                    <a href="{{ path('btsappli_stages_entrepriseFormulaire') }}" role="button" class="btn btn-primary" type="button">Ajouter entreprise</a>
                </div>
        </div>
    </div>
</div>
{% endblock %}