<page>
<!doctype html>
<html class="no-js" lang="fr">
<head>
		<meta charset="UTF-8">
		<title>Convention de stage</title>
		<style>
			body
{
   width : 20cm;
   height : 27cm;
}

.flotte {
float:left;
}

#titre {
	padding-left:200px;
	font-size:large;
	font-family: Arial;
	font-weight: bold;

}

#cadre1 {
	width:750px;
	height: 270px;
	background: lavender;
	border: 2px solid;
	border-bottom: 3px solid;
	border-right: 3px solid;

}

#cadre2 {
	width:750px;
	height: 230px;
	background: lavender;
	border: 2px solid;
	border-bottom: 3px solid;
	border-right: 3px solid;
	}


#cadre3 {
	width:750px;
	height: 250px;
	background: lavender;
	border: 2px solid;
	border-bottom: 3px solid;
	border-right: 3px solid;
	}

#texte1 {
	float:left;
	padding-left: 50px;
	font-family: Arial;
}

#texte2 {
	padding-left: 480px;
	font-family: Arial;
}

#texte3 {
	padding-left: 420px;
	font-family: Arial;
}

.marge {
	margin-left: 144px;
}

#duree {
	width:500px;
	border: 2px solid;
	border-bottom: 3px solid;
	border-right: 3px solid;
	float: right;
	}
	
#texte4 {
	float: right;
	padding-left: 420px;
	
}

.colonne {
	display: table-cell;
	width:500px;
	padding:15px;
	text-align:justify;
}

#tabSign {
	border-collapse:collapse;
	}
	
#signatures {
	background: lavender;
	width:500px;
	border: 2px solid;
	border-top: 3px solid;
	}

#case {
	padding-left:40px;
	width:300px;
	height: 170px;
	font-family: Arial;
	
	}

		</style>
</head>
<body>
	<p class="flotte">
	{#<img src="{{ asset('images/academie.jpg') }}" class="imageAcademie" height="170" width="160"/>#}
	</P>
	
	<div id="titre">
		<!--<FONT size="4" face="Arial">-->
			<strong>
				<br><br>
				CONVENTION DE STAGE<br><br>
				DES ETUDIANTS DES SECTIONS DE TECHNICIENS<br><br>
				SUPERIEURS<br>
			</strong>
		<!--</FONT>-->
	</div>
	

	
	<br><br><br><br>
	<FONT size="3" face="Arial">
	<strong> Entre </strong>
	</FONT>

	<FONT size="4" face="Arial">
	<strong> l'entreprise (ou organisme) ci-dessous d&eacutesign&eacute(e) </strong>
	</FONT>
	<br>
	<div id="cadre1">
		<div id="texte1">
			Raison sociale :
			<br><br>Adresse du lieu d'accueil :
			<br><br><br>Pays :
			<br><br>Num&eacutero de t&eacutel&eacutephone :
			<br><br>Repr&eacutesent&eacute(e) par :
			<br><br>Nom du tuteur :
			<br> <em>(Personne(s) charg&eacutee(s) du suivi du stagiaire)</em>
		</div>
		
		<div id="texte2">
			<br><br><br><br><br>M&eacutel :
			<br><br>Num&eacutero de fax :
			<br><br>Fonction :
			<br><br>Service d'accueil :
		</div>
	</div>
	<br>
	
	<FONT size="3" face="Arial">
		<strong> Et l'&eacutetablissement </strong>
	</FONT>
	<div id="cadre2">
		<div id="texte1">
				Nom et adresse : &nbsp;&nbsp;&nbsp; 
				<strong> Lyc&eacutee Louis de Foix <br>
				<span class="marge">4, avenue Jean Rostand - BP 331 <br></span>
				<span class="marge">F - 64106 BAYONNE</span>
				</strong>
			<br><br>Num&eacutero t&eacutel&eacutephone : +33 5 59 63 31 10
			<br><br>M&eacutel : <a href="#">Ce.0640011p@ac-bordeaux.fr</a>
			<br><br>Responsable de la formation : <strong>Mme Nathalie Lalanne, Proviseure</strong>
			<br><br>Repr&eacutesent&eacute(e) par : <strong>M. LARQUIER Jean-Pierre</strong>
			<br> &nbsp;
		</div>
		
		<div id="texte3">
			<br><br><br><br>Num&eacutero de fax : +33 5 59 63 97 57
		</div>
	</div>
	<br/>

	<FONT size="3" face="Arial">
		<strong> Concernant l'&eacutel&egraveve </strong>
	</FONT>
	<div id="cadre3">
		<div id="texte1">
			Nom et pr&eacutenom : 
			<br><br>Date de naissance : 
			<br><br>Dipl&ocircme pr&eacutepar&eacute ou classe :
			<br><br>Adresse :
			<br><br><br>M&eacutel :
			<br><br>Professeur coordonateur charg&eacute de suivre le d&eacuteroulement de la p&eacuteriode  :<strong> Mme SEYSSEL Isabelle</strong>
			<br> &nbsp;
			
		</div>

	</div>
	
	<br>
	<FONT size="3" face="Arial">
		<strong> Pour la dur&eacutee </strong>
	</FONT>

	<div id="duree">
	<FONT size="3" face="Arial">
		<strong>Du &nbsp &nbsp au </strong>
	</FONT>
	</div>

	<br><br>
	<p>
	<FONT size="2" face="Arial">
	Vu le code du travail ;<br>
	Vu le code de la sécurité sociale ;<br>
	Vu le code de l’éducation nationale, notamment art L 611-2 et L 611-3 ;<br>
	Vu la loi n° 71-577 du 16 juillet 1971 d'orientation de l'enseignement technologique ;<br>
	Vu la loi n° 89-486 du 10 juillet 1989 d'orientation sur l'éducation, notamment son article 7 ;<br>
	Vu le décret n° 85-924 du 30 août 1985 modifié, relatif aux établissements publics locaux d’enseignement ;<br>
	Vu la loi n° 2006-396 du 31 mars 2006, notamment les articles 9 et 10;<br>
	Vu le décret d’application n° 2006-1093 du 29 août 2006 portant sur la loi n° 2006-396 pour l’égalité des chances ;<br>
	Vu la délibération du conseil d’administration du lycée en date du 10 février 2009 approuvant la convention-type.
	</FONT>
	
	
	</p>
	
	<h1> PAGE 2</h1>
	<p class=colonne>
	<FONT size="1" face="Arial">
	<b>Article 1 : Cadre de la convention</b><br>
	La présente convention a pour objet la mise en œuvre, au bénéfice de l’étudiant(e) désigné(e) en annexe, de périodes de formation en entreprise réalisées dans le cadre de l’enseignement professionnel.
	<br><br>
	<b>Article 2 : Modalités pédagogiques</b><br>
	Les modalités – objectifs, contenus et bilans - de ces périodes de formation sont consignés dans l'annexe pédagogique.
	<br><br>
	<b>Article 3 : Frais et assurance</b><br>
	Les modalités de prise en charge des frais inhérents à ces périodes de formation sont mentionnées dans l’annexe financière de la convention. 
	Sauf accord particulier, plus favorable, négocié entre l'entreprise et l'établis-sement de formation, les dispositions de la note de service du 4 juillet 2005 relative au remboursement des frais d'hébergement, de restauration, de transport et d'assurance des étudiants stagiaires en entreprise sont appli-cables.
	Le lycée a souscrit une assurance couvrant la responsabilité civile  de l’élève pour les dommages qu’il pourrait causer à l’occasion de son stage dans l’entreprise : MAIF n°090 45 70P 
	Le chef d’entreprise prend les dispositions nécessaires pour garantir sa responsabilité civile chaque fois qu’elle peut être engagée.
	<br><br>
	
	<b>Article 4 : Responsabilité et rémunération</b><br>
	Le stagiaire demeure durant ces périodes de formation en entreprise sous statut scolaire. Il reste sous l'autorité et la responsabilité de l’établissement de formation.
	Il ne peut prétendre à aucune rémunération de l'entreprise. Une gratification peut lui être versée si son montant ne dépasse pas 30% du SMIC, valeur au 1er janvier de chaque année, avantages en nature compris. 
	Le stagiaire ne doit pas être pris en compte pour l'appréciation de l'effectif de l'entreprise et ne peut participer à une quelconque élection professionnelle.
	Il est soumis au règlement intérieur en vigueur dans l’entreprise, notamment en matière de sécurité, de visite médicale, d’horaires et de discipline, sous réserve de dispositions du code du travail rappelées dans les articles 7 et 8 suivants. L’entreprise porte à la connaissance du stagiaire le règlement intérieur dès le début du stage et notamment la partie afférente aux sta-giaires, si elle existe.
	<br><br>
	
	<b>Article 5 : Durée de travail</b><br>
	Tous les élèves stagiaires sont soumis aux durées quotidienne et hebdoma-daire légales en vigueur dans le pays où se déroule le stage.
	La durée du travail du stagiaire mineur ne peut excéder trente cinq heures par semaine ni huit heures par jour. 
	Le repos hebdomadaire doit avoir une durée minimale de vingt-quatre heures consécutives (pour les mineurs, la durée doit être de deux jours consécutifs si possible).
	En ce qui concerne le travail de nuit, seuls les étudiants majeurs nommé-ment désignés par le chef de l’établissement scolaire, peuvent être incorpo-rés à des équipes de nuit.
	<br><br>
	
	<b>Article 6 : Machines et produits dangereux</b><br>
	En application de l'article R 234-22 du code du travail, les stagiaires mineurs doivent être autorisés par l'inspecteur du travail à travailler sur machines dangereuses. Une demande de dérogation, où figure la liste des machines ou produits dangereux, est adressée par le chef d'entreprise à l'inspecteur du travail. Ces stagiaires ne doivent utiliser en entreprise ces machines et produits qu'avec l'autorisation et sous le contrôle permanent de leur tuteur.
	<br><br>
	
	<b>Article 7 : Habilitation électrique</b><br>
	Le stagiaire ayant à intervenir au cours des périodes de formation en entre-prise sur des installations et des équipements électriques visés par le décret n° 88-1056 du 14 novembre 1988, relatif à la protection des travailleurs dans les établissements qui mettent en œuvre des courants électriques, doivent 
	être habilités par l’employeur en fonction de la nature des travaux à effec-tuer. Cette habilitation ne peut être accordée qu'à l'issue d'une formation aux risques électriques suivie par le stagiaire préalablement à son stage.
	<br><br>
	</FONT>
	</p>
	<p class=colonne>
	<FONT size="1" face="Arial">
	<b>Article 8 : Accident du travail</b><br>
	Le stagiaire bénéficie de la législation française sur les accidents du travail, à savoir l’application de l'article L 412-8 2e a et de l'article D 412-6 du code de la sécurité sociale.
	En cas d'accident survenant au stagiaire, soit au cours du travail, soit au cours du trajet, le responsable de l'entreprise s'engage à adresser la déclara-tion d'accident au chef d'établissement de l’étudiant concerné dans la jour-née où l'accident s'est produit ou au plus tard dans les vingt-quatre heures.
	La déclaration du chef d'établissement ou d'un de ses préposés doit être faite par lettre recommandée à la caisse primaire d'assurance maladie dont relève l'établissement, avec demande d'avis de réception, dans les quarante-huit heures non compris les dimanches et jours fériés. Le stagiaire peut être amené, à la demande de l’entreprise, de justifier d’une assurance couvrant sa responsabilité civile.
	<br><br>
	
	<b>Article 9 : Activités de l’entreprise et absences</b><br>
	Le stagiaire est associé aux activités de l’entreprise concourant directement à l’action pédagogique. Sa participation à ces activités ne saurait porter préjudice à la situation de l’emploi dans l’entreprise. En cas d’absence prévisible, le stagiaire en fait la demande au responsable de l’entreprise. En cas d’absence imprévisible, le stagiaire en informe aussitôt l’entreprise et régularise son absence dès son retour. Dans toutes les situations d’absence, le stagiaire en informe le lycée en joignant toutes les pièces justificatives originales. En cas d’obligation scolaire attestée par le chef d’établissement et après accord de l’entreprise, le stagiaire est autorisé à s’absenter. L’entreprise se réserve le droit de demander au stagiaire de récupérer les heures non effectuées. 
	<br><br>
	
	<b>Article 10 : Communication</b><br>
	Le chef de l'établissement de formation et le représentant de l'entreprise ou de l'organisme d'accueil du stagiaire se tiendront  mutuellement informés des difficultés (ex : absences) qui pourraient naître de l'application de la présente convention et prendront, d'un commun accord et en liaison avec l'équipe pédagogique, les dispositions propres à les résoudre, notamment en cas de manquement à la discipline. 
	<br><br>
	
	<b>Article 11 : Application</b><br>
	Les présentes dispositions sont applicables aux périodes de formation effectuées en tout ou partie durant les vacances scolaires antérieures à l'obtention du diplôme.
	<br><br>
	
	<b>Article 12 : Durée de la convention </b><br>
	La convention est pour la durée de la période de formation (précisée dans l’annexe pédagogique). L’entreprise délivre « une attestation de stage » à l’issue de chaque période de stage ou pour l’ensemble de la période.
	<br><br>
	
	<b>Article 13 : Résiliation et suspension de stage</b><br>
	La résiliation du stage ne peut se faire qu’après information des trois parties signataires. A la demande d’une des trois parties, un entretien de résiliation peut avoir lieu au sein de l’entreprise ou au sein de l’établissement de forma-tion en présence d’un représentant de chaque partie. La suspension de la convention doit être constatée par écrit par chaque partie et donne lieu, le cas échéant, à la rédaction d’un avenant à la convention.
	<br><br>
	
	<b>Article 14 :</b><br>
	Le stagiaire s’engage à :
	- Se conformer aux règlements intérieurs de l’entreprise ;
	- Observer – vis-à-vis du personnel de l’entreprise – une attitude cour-toise et de stricte neutralité ;
	- Respecter la confidentialité des informations consultées ou recueillies dans le cadre des missions confiées. 
	<br><br>
	</FONT>
	</p>
	
<table align="center" id="tabSign" border>
    <tr>
      <th id="signatures" colspan=2><FONT size="4" face="Arial"><b>SIGNATURES</b></FONT></th>
    </tr>
    <tr>
		<td id="case" valign="top">Fait le &nbsp; &nbsp; &#47;  &nbsp; &nbsp;  &#47;<br>
		Le repr&eacutesentant de l'entreprise<br><br><br><br><br><br>
		<em>Cachet indispensable</em>
		</td>
		<td id="case" valign="top">Fait le &nbsp; &nbsp; &#47;  &nbsp; &nbsp;  &#47;<br>
		La Proviseure,<br><br><br><br><br>
		P&#47;O : JP Larquier
		</td>
    </tr>
	<tr>
		<td id="case" valign="top">Vu et pris connaissance,<br>
		Fait le &nbsp; &nbsp; &#47;  &nbsp; &nbsp;  &#47;<br>
		Le r&eacutepresentant l&eacutegal <em>(pour les &eacutel&egraveves mineurs)</em></td>
		
		<td id="case" valign="top">Vu et pris connaissance,<br>
		Fait le &nbsp; &nbsp; &#47;  &nbsp; &nbsp;  &#47;<br>
		L'&eacutetudiant <br><br><br></td>
	</tr>
</table>

</body>
</html>
</page>