{# src/btsappli/StagesBundle/Resources/views/Stages/ajoutEntreprise.html.twig #}

{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
<div class="col-lg-8 col-lg-offset-2">
    <div style="margin-top:80px;">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Ajout d'une entreprise</h3></div>
                <div class="panel-body">
                    <a href="{{ path('btsappli_stages_voirStage', {'id':id}) }}"><h4>Mon stage</h4></a> </br>
                    <a href="{{ path('btsappli_stages_stageFormulaireEnt') }}"><h4>Ajouter mon stage</h4></a>
                </div>
        </div>
    </div>
</div>
{% endblock %}