{# src/btsappli/StagesBundle/Resources/views/Stages/vueEntreprise.html.twig #}

{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
<div class="col-lg-12">
    <div style="margin-top:18px;">
        <div class="panel panel-default">
            <div class="panel-heading"><h3></h3></div>
            <div class="panel-body">
                    <form method="post" {{ form_enctype(formulaireEntreprise) }}>
                        {{ form_widget(formulaireEntreprise) }}
                        <input type="submit" class="btn btn-primary pull-right"style="width:140px" />
                    </form>
                    <div class="row">
                        <div class="col-lg-1">
                            <a href="#" role="button" class="btn btn-primary" type="button" style="width:140px">Retour</a>
                        </div>
                        <div class="col-lg-1 col-lg-offset-4">
                            <a href="#" role="button" class="btn btn-primary" type="button" style="width:140px">Choisir</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}